.hidden{
  display:none;
}
.image-box{
  border: 2px white solid;
  border-radius: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}
.image-result-box:hover{
  cursor: default!important;
}
.grey-level-div{
  display: flex;
  flex-flow: column;
}
.grey-level-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem;
}
.grey-level-box>button{
  width: 3rem;
  height: 2rem;
}
.icon{
  height: 1rem;
}
.image-box>img{
  max-width: 700px;
}
.height-500{
  height: 500px;
}
.image-box:hover{
  cursor: pointer;
}
.main{
  /*margin-left: 1rem;*/
  /*background-color: dimgrey;*/
}
.overlay-text{
  position: absolute;
  font-size: 1rem;
}
.hint{
  font-size: xx-small;
  text-align: center;
  margin: 0;
}
.actions-area{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.actions-area>button{
  max-height: 2.5rem;
}
.filters-area{
  text-align: center;
  padding-top: 10px;
}
.filters-area>button{
  margin: 0px 10px 10px 10px;
}
@media (max-width: 700px) {
  .row{
    flex-direction: column;
  }
  .col-6{
    width: 100%;
  }
}
